{
  "extends": "airbnb",
  "ecmaFeatures": {
    "modules": true,
    "classes": true,
    "generators": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "strict": [2, "global"],
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "space-before-function-paren": [2, "never"],
    "padded-blocks": 0,
    "quotes": [ 1, "single" ],
    "prefer-const": 0,
    "no-undef": 1,
    "no-var": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-console": 1,
    "no-unused-vars": 1,
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "no-unreachable": 1,
    "no-alert": 0,
  }
}
